{
    "minify": true,
    "jsc": {
      "minify": {
        "compress": {
          "unused": true,
          "conditionals": true,
          "directives": false
        },
        "mangle": true
      }
    }
  }