{
    "minify": true,
    "jsc": {
      "minify": {
        "compress": {
          "pure_getters":false,
          "unused": false,
          "reduce_vars": false,
          "directives": false
        },
        "mangle": true
      }
    }
  }